.collapsible .content {
    padding: 6px;
    background-color: #eeeeee;
}
.collapsible .header {
    background-color: #dddddd;
    padding: 6px;
    cursor: pointer;
}

.reqDiv{
    display: flex;
    /* justify-content: space-between; */
    /* gap: 1vw; */
}

.newBranch{
    /* margin-left: 45px; */
    border-left: 2px solid rgb(255, 145, 0);
}