.collapsible .content {
    padding: 6px;
    background-color: #eeeeee;
}
.collapsible .header {
    background-color: #dddddd;
    padding: 6px;
    cursor: pointer;
}

.reqDiv{
    display: flex;
    justify-content: space-between;
    gap: 1vw;
}

.reqDivItem{
    width: 50%;
    /*background-color: aquamarine;*/
}

.newBranchManage{
    margin-left: 5vw;
}

.flexContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.preferences{

    margin-top: 10px;
    flex-grow: 4;   
    flex-shrink: 0;
    min-width: fit-content;
    

}

.editArea{

    min-width: fit-content;
    flex-shrink: 0;
    flex-grow: 6;  
}

.orgContainer{
    padding-top: 20px;
}

.orgItem{
    margin: 10px;
}

.desc-s{
    text-align: center;
}

.desc-m{
    text-align: center;
    font-size:1.875em;
}

.desc-l{
    text-align: center;
    font-size:2.5em;
}

@media screen and (max-width: 640px) {
    .collapsible .content {
        padding: 6px;
        background-color: #eeeeee;
    }
    .collapsible .header {
        background-color: #dddddd;
        padding: 6px;
        cursor: pointer;
    }
    
    .reqDiv{
        display: flex;
        justify-content: space-between;
        gap: 1vw;
    }
    
    .reqDivItem{
        width: 50%;
        /*background-color: aquamarine;*/
    }
    
    .newBranchManage{
        margin-left: 5vw;
    }
    
    .flexContainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        
    }
    
    .preferences{
        /* min-width: 100vw; */
        flex-basis: 1;
        flex-grow: 4;   
        flex-shrink: 0;
        width:auto;
    
    }
    
    .editArea{
        flex-basis: 1;
        flex-shrink: 6;
        flex-grow: 0;  
    }



}
